<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xdandroid.hellodaemon">

    <!-- BOOT_COMPLETED 需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- CONNECTIVITY_CHANGE 需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 监听 3 种系统广播 : BOOT_COMPLETED, CONNECTIVITY_CHANGE, USER_PRESENT -->
        <!-- 在系统启动完成、网络连接改变、用户屏幕解锁时拉起 Service -->
        <!-- Service 内部做了判断，若 Service 已在运行，不会重复启动 -->
        <receiver
            android:name=".receiver.WakeUpReceiver"
            android:process=":work">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.android.WorkService"
            android:process=":work"/>

        <service
            android:name=".service.android.WorkService$WorkNotificationService"
            android:process=":work"/>

        <service
            android:name=".service.android.WatchDogService"
            android:process=":watch"/>

        <service
            android:name=".service.android.WatchDogService$WatchDogNotificationService"
            android:process=":watch"/>

    </application>

</manifest>